Source: openisr
Section: net 
Priority: extra
Maintainer: Matt Toups <mtoups@cs.cmu.edu>
Build-Depends: debhelper (>= 5.0.24)
Standards-Version: 3.7.2

Package: openisr-modules-#KVERS#
Architecture: any
Provides: openisr-modules
Depends: openisr
Recommends: linux-image-#KVERS# | kernel-image-#KVERS#
Description: OpenISR kernel modules for Linux #KVERS#
 This package provides the OpenISR binary kernel modules for Linux #KVERS#.
