Source: openisr
Section: net 
Priority: extra
Maintainer: Matt Toups <mtoups@cs.cmu.edu>
Build-Depends: debhelper (>= 5), libcurl3-dev
Standards-Version: 3.7.2

Package: openisr
Architecture: any
Suggests: kvm
Depends: module-assistant, udev, curl (>= 7.12), ssh | openssh-client, rsync, ${shlibs:Depends}, ${perl:Depends}, ${misc:Depends}
Description: Internet Suspend/Resume (ISR) client
 OpenISR ... mobile computing environment... virtualization ...  yeah.
