#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

CFLAGS = -Wall -g

KSRCDIR = usr/src/modules/openisr

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# XXX: Add here commands to configure the package.

	touch configure-stamp


#Architecture 
build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp 

	# Add here commands to compile the arch part of the package.
	$(MAKE) 

	#( cd $(CURDIR)/vulpes && \
	#  $(MAKE) vulpes )

	#( cd $(CURDIR)/libvdisk && \
	#  $(MAKE) libvdisk.so )

	touch $@

build-indep: build-indep-stamp
build-indep-stamp: configure-stamp 

	# Add here commands to compile the indep part of the package.
	#$(MAKE) doc

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp #CONFIGURE-STAMP#

	# Add here commands to clean up after the build process.
	#-$(MAKE) clean
	( cd $(CURDIR)/vulpes && $(MAKE) clean )
	( cd $(CURDIR)/libvdisk && $(MAKE) clean )

	dh_clean 

install: install-indep install-arch
install-indep:
	dh_testdir
	dh_testroot
	dh_clean -k -i 
	dh_installdirs -i

	# Add here commands to install the indep part of the package into
	# debian/<package>-doc.
	#INSTALLDOC#

	dh_install -i

# BEGIN module stuff

# prefix of the target package name
PACKAGE=openisr
# modifieable for experiments or debugging m-a
MA_DIR ?= /usr/share/modass
# load generic variable handling
-include $(MA_DIR)/include/generic.make
# load default rules
-include $(MA_DIR)/include/common-rules.make

MAJOR=$(shell echo $(KVERS) | sed -e 's/\(...\).*/\1/')
ifeq ($(MAJOR),2.6)
KO=k
endif

kdist_clean:
	dh_clean
	make -C nexus clean
	make -C sha1-i586 clean

# prep-deb-files rewrites the debian/ files as needed. See RATIONALE for
# details
kdist_config: prep-deb-files
# ... additional kernel specific things to configure...

kdist_configure: kdist_config

binary-modules: prep-deb-files
	dh_testdir
	dh_testroot
	dh_clean -k
	sed -e 's/#KVERS#/$(KVERS)/g' \
	     -e 's/#VERSION#/$(VERSION)/g' debian/control.template > $(CURDIR)/debian/control
			    
#	make -C Linux-$(MAJOR) KERNEL_SOURCES=$(KSRC) MODVERSIONS=detect KERNEL=linux-$(KVERS)
	make -C nexus install_modules
	make -C sha1-i586 install_modules
#	install -m644 -b -D Linux-$(MAJOR)/openisr.$(KO)o $(CURDIR)/debian/$(PKGNAME)/lib/modules/$(KVERS)/openisr/openisr.$(KO)o
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -v$(VERSION)
	dh_md5sums
	dh_builddeb --destdir=$(DEB_DESTDIR)


install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	# Add here commands to install the arch part of the package into 
	# debian/tmp.
	#$(MAKE) distclient DESTDIR=$(CURDIR)/debian/openisr
	$(MAKE) -C client install DESTDIR=$(CURDIR)/debian/openisr
	$(MAKE) -C vulpes install DESTDIR=$(CURDIR)/debian/openisr
	$(MAKE) -C libvdisk install DESTDIR=$(CURDIR)/debian/openisr

	# FIXME: should really fix vulpes Makefile...
#	mkdir -p $(CURDIR)/debian/openisr/usr/lib/openisr
#	cp $(CURDIR)/vulpes/vulpes $(CURDIR)/debian/openisr/usr/lib/openisr

	# libvdisk Makefile will setuid root
#	(cd $(CURDIR)/libvdisk && \
#	 $(MAKE) DESTDIR=$(CURDIR)/debian/openisr install)

#	install client/isr $(CURDIR)/debian/openisr/usr/bin
#	install -d $(CURDIR)/debian/openisr/usr/share/openisr
#	install client/Isr.pm client/IsrConfigTie.pm client/HTTPSSH.pm $(CURDIR)/debian/openisr/usr/share/openisr

#	kernel module stuff 
	#dh_installdirs $(KSRCDIR) $(KSRCDIR)/debian
	#dh_install nexus/* $(KSRCDIR)

	# create needed directories
	#dh_installdirs -i usr/src/modules
	# only if needed
	dh_installdirs -a usr/share/modass/overrides

	#$(MAKE) distmodules DESTDIR=debian/openisr/usr/src/modules/openisr

	# copy all relevant debian/ files.
	dh_installdirs -a usr/src/modules/openisr/debian

	cd debian && cp changelog control.template compat rules copyright openisr/usr/src/modules/openisr/debian

	ln -s ../packages/default.sh debian/openisr/usr/share/modass/overrides/openisr	

	(cd debian/openisr/usr/src \
	&& chown -R root:src modules \
	&& tar jcf openisr.tar.bz2 modules \
	&& rm -rf modules)

	dh_install -s
# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
#	dh_installexamples
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate	
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip
	dh_compress 
	# please don't undo my permissions on libvdisk!
	dh_fixperms -Xlibvdisk.so
	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary: binary-arch 
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure
